<section>
  <h3><%= link_to product.name, product %></h3>
  <div> <%= product.description %> </div>
  <p>
    <strong>Price:</string> <%= number_to_currency product.price %>
  </p>
  <% if product.category %>
    <p>Category: <%= product.category.name %>
  <% end %>
</section>